<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gohome()"><ion-icon name="home" direction="backward" size="20"></ion-icon></ion-button>
      <ion-button (click)="restart()"><ion-icon name="refresh" ></ion-icon></ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="loading" text-center style="height:100%; width:100%; z-index:9999; position: fixed; background:#ebb70c;">
  <ion-spinner style="margin-top: 50%"></ion-spinner><br/>
  <ion-text>Loading ...</ion-text>
</div>
<div *ngIf="timeup">
  <ion-button expand="full" color="primary" (click)="selectAnotherCourse()">Another Course</ion-button>
  <ion-button expand="full" color="primary" (click)="restart()">Restart</ion-button>
  <ion-button expand="full" color="primary" routerLink="/level">Go to level</ion-button>
  <ion-button expand="full" color="primary" routerLink="/">Go Home</ion-button>
</div>
<ion-content *ngIf="!timeup" class="animated slow bounceInRight">
  <section text-center>
    <ion-grid>
      <ion-row>
        <ion-col style="display: flex">
          <span><ion-icon name="timer" style="font-size: 25px; color: brown"></ion-icon></span>
          <span style="float: right; font-size: 25px; color: brown">{{ time }} s</span>
        </ion-col>
        <ion-col style="font-size: 25px; color: brown">
          <span style="font-size: 25px; color: brown">Score:  </span>
          <span style="font-size: 25px; color: brown">{{ score }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <div ion-padding *ngIf="questions" >
    {{ msg }}
    <ion-card style="font-family: 'Stylish', sans-serif;">
      <ion-card-header>
        <ion-card-subtitle style="font-family: 'Stylish', sans-serif;">{{ course }} Question <span>{{ q_n+1 }}</span></ion-card-subtitle>
        <ion-card-title  style="font-family: 'Stylish', sans-serif;"><h4>{{ question }}</h4></ion-card-title>
      </ion-card-header>

      <ion-card-content  style="font-family: 'Stylish', sans-serif;">
        
        <ion-list>
          <ion-list-header>
            <h5>Options</h5>
          </ion-list-header>
          <ion-item-group>
            <ion-item (click)="checkAnswer(option1)" style="font-family: Stylish">{{ option1 }}</ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-item (click)="checkAnswer(option2)" style="font-family: Stylish">{{ option2 }}</ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-item (click)="checkAnswer(option3)" style="font-family: Stylish">{{ option3 }}</ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-item (click)="checkAnswer(option4)" style="font-family: Stylish">{{ option4 }}</ion-item>
          </ion-item-group>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" (click)="prevQ()">Prev</ion-button>
      <ion-button slot="end" background="success" (click)="nextQ()">Next</ion-button>
      <ion-button slot="end" color="danger" (click)="endTest()">End Test</ion-button>
      <!-- <ion-button slot="end">Submit</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
