ion-app {
    color: #feeaab; 
}
  
ion-toolbar {
    --background: brown;
    --color: #feeaab;
}
  
ion-content {
    --background: rgb(248, 231, 175);
}

ion-item, ion-input {
    --background: #feeaab !important;
}

ion-menu-toggle, ion-split-pane, ion-menu, ion-list {
    --background: #feeaab !important;
}
  