  #content {
    position: relative;
    background-color: #feeaab;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    padding-top: 150px;
  }

// div {
//     background: #feeaab;
//   }

  ion-list-header {
    background: brown;
  }

  ion-title, ion-buttons, ion-back-button {
    background: brown;
  }

  #profile-info {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: #feeaab;
    text-align: center;
  }
  #profile-name {
    color: #444;
    font-size: 26px;
  }
  #profile-description {
    font-size: 15px;
    color: #888;
    background-color: #feeaab;
  }
  #profile-description a {
    color: #888;
  }

  #profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #f1bc0d;
    width: 128px;
    height: 128px;
    margin: 5px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }

  .list-item-content {
    padding: 5px;
  }

  .list-item {
    color: #666666;
  }

  .post {
    color: #444;
  }

  .post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
  }

  .post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
  }

  
ion-toolbar {
  --background: brown;
  --color: #feeaab;
}

ion-button {
  --color: lightblue;
}

ion-content, ion-list, ion-item, ion-item-sliding {
  --background: rgb(248, 231, 175);
}

ion-item {
  --font-family: 'Stylish',
}

.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}