<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Challenge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>

  <div *ngIf="loading" text-center style="height:100%; width:100%; z-index:9999; position: fixed; background:#ebb70c;">
    <ion-spinner style="margin-top: 50%"></ion-spinner><br/>
    <ion-text>{{ msg }}</ion-text>
  </div>
  <ion-toolbar>
    <ion-searchbar placeholder="Search user by name" type="text" debounce="500" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
    
    <ion-list *ngIf="!showchallenge">
      <ion-button expand="full" color="primary" (click)="getChallenges(userInfo)">Challenges</ion-button>
      <ion-item *ngFor="let user of users">
        <ion-label>
          <h3>{{ user.name }} <small>{{ user.user_name }}</small></h3>
        </ion-label>
        <ion-label slot="end" text-right>
          <ion-button color="primary" (click)="createChallenge(user, userInfo)">Challenge</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
    
    <div *ngIf="showchallenge">
        <ion-button expand="full" color="primary" (click)="getUsers()">New Challenge</ion-button>
        <div *ngIf="!challenges || !challenged">
            <div class="ion-padding custom-skeleton">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated></ion-skeleton-text>
            </div>
        </div>
      <ion-list *ngIf="challenges">
        <ion-list-header style="background: brown">Users You Challenged</ion-list-header>
        <ion-item *ngFor="let cha of challenged">
          <ion-label>
            You Challenged {{ cha.name }}
          </ion-label>
          <ion-item-option slot="end">
            {{ cha.status }}
          </ion-item-option>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="challenged">
        <ion-list-header style="background: brown">Users That Challenge You</ion-list-header>
        <ion-item *ngFor="let cha of challenges">
          <ion-label>
           {{ cha.created_at | date }}
          </ion-label>
          <ion-item-option slot="end">
            <ion-button (click)="viewChallenge(cha)">View</ion-button>
          </ion-item-option>
        </ion-item>
      </ion-list>
    </div>
    <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    Developed by toykam
  </ion-toolbar>
</ion-footer>
