<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="notification()">
        <ion-icon name="notifications"></ion-icon><ion-badge>{{ notification_count }}</ion-badge>
      </ion-button>
      
      <ion-button (click)="openPage('/help')">
        <ion-icon name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="animated bounceInRight">
    <section text-center style="margin-top: 10px;">
        <img style="height:80px; width:80px; border-radius: 50%; border:1px solid #fac108" src="/assets/images/icon.png">
        <h4 style="font-family: Stylish; color: #ffffff; text-shadow: 1px 2px 6px #997601" color="primary">Welcome, <br/> <span *ngIf="userInfo" >{{ userInfo.name }}</span></h4>
    </section>
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="animated slow rubberBand">
          <ion-card text-center (click)="openPage('/level')" color="primary">
            <h2 style="color:white">Start Test</h2>
          </ion-card>
        </ion-col>

        <ion-col col-6 class="animated slow rubberBand">
          <ion-card text-center color="primary" (click)="openPage('/dashboard')">
            <h2 style="color:white">Profile</h2>
          </ion-card>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-6 class="animated slow rubberBand">
          <ion-card text-center color="primary" (click)="openPage('/challenge')">
            <h2 style="color:white">Challenge</h2>
          </ion-card>
        </ion-col>

        <ion-col col-6 class="animated slow rubberBand">
          <ion-card text-center color="primary" (click)="openPage('/scoreboard')">
            <h2 style="color:white">Leader Board</h2>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 class="animated slow rubberBand">
          <ion-card text-center color="danger" (click)="logout()">
            <h2>Logout</h2>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <div *ngIf="shownotification" style="background: #feeaab">
      <ion-list *ngIf="notifications.length != 0">
        <ion-list-header style="background: brown">Notifications</ion-list-header>
        <ion-item-sliding style="background: #feeaab" *ngFor="let notif of notifications">
          <ion-item style="background: #feeaab" color="primary" (click)="viewNotification(notif)">
            <ion-label>{{ notif.title }}</ion-label>
          </ion-item>
          <ion-item-options side="end" style="background: #feeaab">
            <ion-item-option>
              <ion-button (click)="viewNotification(notif)" color="primary">View</ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      
      <div *ngIf="notifications.length == 0" text-center>
        No Notification
      </div>
  
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    Developed by toykam {{ appv }}
  </ion-toolbar>
</ion-footer>

